<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>MySpringWeb</display-name>
  <!-- <data-source/> -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class> org.springframework.web.servlet.DispatcherServlet </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>  org.springframework.web.context.ContextLoaderListener </listener-class>
	</listener>
	
	 -->
  
  <servlet>
    <description></description>
    <display-name>webapp.login.LoginServlet</display-name>
    <servlet-name>webapp.login.LoginServlet</servlet-name>
    <servlet-class>webapp.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webapp.login.LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilmServlet</display-name>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <servlet-class>webapp.film.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <url-pattern>/DeleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFilmServlet</display-name>
    <servlet-name>ListFilmServlet</servlet-name>
    <servlet-class>webapp.film.ListFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFilmServlet</servlet-name>
    <url-pattern>/ListFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRequiredFilter</display-name>
    <servlet-name>LoginRequiredFilter</servlet-name>
    <servlet-class>webapp.filter.LoginRequiredFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRequiredFilter</servlet-name>
    <url-pattern>/LoginRequiredFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>webapp.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilmServlet</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>webapp.film.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/AddFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListActorServlet</display-name>
    <servlet-name>ListActorServlet</servlet-name>
    <servlet-class>webapp.film.ListActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListActorServlet</servlet-name>
    <url-pattern>/ListActorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteActorServlet</display-name>
    <servlet-name>DeleteActorServlet</servlet-name>
    <servlet-class>webapp.film.DeleteActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActorServlet</servlet-name>
    <url-pattern>/DeleteActorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActorServlet</display-name>
    <servlet-name>AddActorServlet</servlet-name>
    <servlet-class>webapp.film.AddActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActorServlet</servlet-name>
    <url-pattern>/AddActorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCategoryServlet</display-name>
    <servlet-name>ListCategoryServlet</servlet-name>
    <servlet-class>webapp.film.ListCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCategoryServlet</servlet-name>
    <url-pattern>/ListCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>webapp.film.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>webapp.film.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFilmServlet</display-name>
    <servlet-name>EditFilmServlet</servlet-name>
    <servlet-class>webapp.film.EditFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFilmServlet</servlet-name>
    <url-pattern>/EditFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditActorServlet</display-name>
    <servlet-name>EditActorServlet</servlet-name>
    <servlet-class>webapp.film.EditActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditActorServlet</servlet-name>
    <url-pattern>/EditActorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>webapp.film.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerServlet</display-name>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>webapp.film.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/ListCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>webapp.film.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>webapp.film.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>webapp.film.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListReviewServlet</display-name>
    <servlet-name>ListReviewServlet</servlet-name>
    <servlet-class>webapp.film.ListReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReviewServlet</servlet-name>
    <url-pattern>/ListReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyFilmServlet</display-name>
    <servlet-name>BuyFilmServlet</servlet-name>
    <servlet-class>webapp.film.BuyFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyFilmServlet</servlet-name>
    <url-pattern>/BuyFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerFilmServlet</display-name>
    <servlet-name>ListCustomerFilmServlet</servlet-name>
    <servlet-class>webapp.film.ListCustomerFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerFilmServlet</servlet-name>
    <url-pattern>/ListCustomerFilmServlet</url-pattern>
  </servlet-mapping>
</web-app>